.pass-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.pass-strip {
  display: flex;
  justify-content: center;
}

.pass-fields {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.pass-qrcode {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
